<div class="py-4">
  <h2 class="fs-3 trick__title mb-4">User</h2>
  <div class="mb-5 trick__profile">
    <div class="trick__profile-container">
      <div class="trick__profile-record">
        <span class="trick__profile-label">Name&nbsp;&nbsp;</span>
        <span class="trick__profile-item"><%= @user_account.name %></span>
      </div>
      <div class="trick__profile-record">
        <span class="trick__profile-label">E-mail&nbsp;&nbsp;</span>
        <span class="trick__profile-item"><%= @user_account.email %></span>
      </div>
      <div class="trick__profile-record">
        <span class="trick__profile-label">Api-Key&nbsp;&nbsp;</span>
        <span class="trick__profile-item"><%= @api_key.value %></span>
      </div>
    </div>
  </div>
</div>