<div class="py-4">
  <section class="mb-4">
    <h2 class="fs-3 trick-title mb-4">Login</h2>
    <p class="trick-desc">Please enter your email and password to login.</p>
  </section>
  <div class="mb-5">
    <%= form_with url: "login", method: :post do |form| %>
      <div class="mb-3">
        <div class="col-6 trick-width-center">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" name="login[email]" id="email" placeholder="xxx@xxx.co.jp">
        </div>
        <div class="col-6 trick-width-center">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="login[password]" id="password">
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary col-2 trick-x-center trick-width-center">Login</button>
    <% end %>
  </div>
  <div class="trick-x-center">
    <div class="border border-success border-3 rounded p-3 d-inline-block">
      <p class="text-center mb-3">Register here if you haven't already.</p>
      <button class="btn btn-outline-success trick-x-center trick-width-center">Register</button>
    </div>
  </div>
</div>