/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// Reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: #000;
}

// mixin
@mixin center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
@mixin x-center {
  display: flex !important;
  justify-content: center !important;
}
@mixin y-center {
  display: flex !important;
  align-items: center !important;
}
@mixin width-center {
  margin: 0 auto;
}
$common-red: #f83600;
$common-yellow: #f9d423;
$common-orange: #ffa500;
$base-color: #19A7CE;
$base-font: 'Asap', sans-serif;

h1, h2, h3, h4, h5, h6, p {
  font-family: sans-serif;
  margin-bottom: 0 !important;
}

// common
.trick__center {
  @include center;
}

.trick__title {
  font-family: $base-font;
  color: $base-color;
  padding-left: 1rem;
  border-left: 0.5rem solid $base-color;
}

.trick__form {
  label {
    font-size: 1.2rem;
    color: $base-color;
    font-weight: 600;
  }
  input, textarea {
    border: 3px solid $base-color;
  }
  button {
    background-color: $base-color;
    border: 2px solid $base-color;
    color: #fff;
    font-weight: 600;
    &:hover {
      background-color: #fff;
      color: $base-color;
    }
  }
}

.trick-subtitle {
  label {
    font-weight: 600;
  }
}

.trick-desc {
  position: relative;
  padding: 0.5rem 0.5rem;
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    content: '';
    background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
    background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  }
}

.trick-margin-bottom-none {
  margin-bottom: 0;
}

.trick__number {
  @include center;
  color: white;
  font-weight: 600;
  padding: 0.5rem 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: $base-color;
}

.trick-width-center {
  @include width-center;
}

.trick-x-center {
  @include x-center;
}

// Home
.trick__header {
  background-color: $base-color;
  padding: 1.5rem;
}

.trick__title {
  &-link {
    font-family: $base-font;
    &:hover {
      color: #fff;
    }
  }
  &-sub {
    font-family: $base-font;
  }
}

.trick__session {
  @include center;
  &:hover {
    color: $base-color !important;
  }
}

.trick__user {
  &-icon {
    width: 2rem;
    .st0{
      fill:#4B4B4B;
    }
  }
  &-name {
    color: #fff;
    font-family: $base-font;
  }
}

.trick__session {
  border-width: 2px !important;
  font-family: $base-font;
}

.trick__setting {
  margin-bottom: 5rem;
}

.trick__footer {
  background-color: $base-color;
  color: #fff;
}