/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@mixin center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
@mixin x-center {
  display: flex !important;
  justify-content: center !important;
}
@mixin y-center {
  display: flex !important;
  align-items: center !important;
}
@mixin width-center {
  margin: 0 auto;
}
$common-red: #f83600;
$common-yellow: #f9d423;
$common-orange: #ffa500;

h1, h2, h3, h4, h5, h6, p {
  font-family: sans-serif;
  margin-bottom: 0 !important;
}

// common
.trick-center {
  @include center;
}

.trick-title {
  @include center;
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from($common-red), to($common-yellow));
  background-image: -webkit-linear-gradient(left, $common-red 0%, $common-yellow 100%);
  background-image: linear-gradient(to right, $common-red 0%, $common-yellow 100%);
}

.trick-subtitle {
  label {
    font-weight: 600;
  }
}

.trick-desc {
  position: relative;
  padding: 0.5rem 0.5rem;
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    content: '';
    background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
    background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  }
}

.trick-margin-bottom-none {
  margin-bottom: 0;
}

.trick-number {
  @include center;
  color: white;
  padding: 0.5rem 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: $common-orange;
}

.trick-width-center {
  @include width-center;
}

.trick-x-center {
  @include x-center;
}

// Home
.trick-service-title {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}