/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


// Reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: sans-serif;
  margin-bottom: 0 !important;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: #000;
}

// mixin
@mixin center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
@mixin x-center {
  display: flex !important;
  justify-content: center !important;
}
@mixin y-center {
  display: flex !important;
  align-items: center !important;
}
@mixin width-center {
  margin: 0 auto;
}
@mixin headline {
  font-size: 1.2rem;
  color: $base-color;
  font-weight: 600;
}

$base-color: #19A7CE;
$alert-color: #FEB139;
$guide-color: #1F8A70;
$danger-color: #FF6464;

$base-font: 'Asap', sans-serif;

// common
.trick__center {
  @include center;
}

.trick__debug {
  background-color: #f0f0f0;
  border-radius: 10px;
  border: 1px solid #c0c0c0;
  padding: 2rem;
  max-width: 800px;
  margin: 2rem auto;
  &-list {
    padding-left: 0;
    margin-bottom: 0;
  }
  &-el:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.trick__title {
  font-family: $base-font;
  color: $base-color;
  padding-left: 1rem;
  border-left: 0.5rem solid $base-color;
}

.trick__form {
  label {
    @include headline;
  }
  input, textarea {
    border: 3px solid $base-color;
  }
  button {
    background-color: $base-color;
    border: 2px solid $base-color;
    color: #fff;
    font-weight: 600;
    &:hover {
      background-color: #fff;
      color: $base-color;
    }
  }
}

.trick__header {
  &-title {
    @include headline;
  }
  &-label.form-label {
    font-size: 1rem;
  }
  &-input {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.trick__alert {
  &-msg {
    font-family: $base-font;
  }
}

.trick-width-center {
  @include width-center;
}

.trick-x-center {
  @include x-center;
}

// Home
.trick__header {
  background-color: $base-color;
  padding: 1.5rem;
}

.trick__title {
  &-link {
    font-family: $base-font;
    &:hover {
      color: #fff;
    }
  }
  &-sub {
    font-family: $base-font;
  }
}

.trick__apiKey {
  border: 3px solid $base-color;
  border-radius: 10px;
  padding: 0.3rem;
}

.trick__session {
  @include center;
  &:hover {
    color: $base-color !important;
  }
}

.trick__delete {
  background-color: $danger-color !important;
  color: #fff !important;
  border: 2px solid $danger-color !important;
  &:hover {
    background-color: #fff !important;
    color: $danger-color !important;
    border: 2px solid $danger-color !important;
  }
}

.trick__user {
  &-icon {
    width: 2rem;
    .st0{
      fill:#4B4B4B;
    }
  }
  &-name {
    color: #fff;
    font-family: $base-font;
  }
}

.trick__session {
  border-width: 2px !important;
  font-family: $base-font;
}

.trick__setting {
  margin-bottom: 5rem;
}

.trick__response {
  &-unit {
    border: 3px solid $base-color;
  }
  &-title {
    color: $base-color;
    font-family: $base-font;
  }
  &-content {
    margin-top: 1rem !important;
  }
}

.trick__footer {
  background-color: $base-color;
  color: #fff;
}

.trick__RegisterLink {
  &-modal {
    border: 3px solid $alert-color;
  }
  &-text {
    color: $alert-color;
    font-family: $base-font;
  }
  &-button {
    border: 1px solid $alert-color !important;
    color: $alert-color !important;
    &:hover {
      background-color: $alert-color;
      color: #fff !important;
    }
  }
}

.trick__LoginLink {
  &-modal {
    border: 3px solid $guide-color;
  }
  &-text {
    color: $guide-color;
    font-family: $base-font;
  }
  &-button {
    border: 1px solid $guide-color !important;
    color: $guide-color !important;
    &:hover {
      background-color: $guide-color;
      color: #fff !important;
    }
  }
}